
<% if current_user != nil %>
<h2><%= link_to "Submit new question", new_question_path %></h2>
<br>
<% if current_user.admin == true %>
  Total # of users on this site: <%= @users.length %>
<% else %>
<% end %>
<% else %>
  <h3>You must log in to ask a question.</h3>
<% end %>

<table class='table table-hover'>
  <% @questions.each do |question| %>
  <tbody>
    <tr class="eachRow">
      <td><%= link_to question.title, question_path(question) %> created on <%= question.created_at.strftime("%a %D at %I:%M:%S") %></td>
        </button>
      <% end %>
    </tr>
  </tbody>
</table>

<h3>Total questions in the last 24 hrs: <%= @questions.length %></h3>
<%= link_to 'View All Questions', all_questions_path %>

<br>
<br>
