<h1>HELLO EVERYONE</h1>

<% if current_user != nil %>
<%= link_to "Submit new question", new_question_path %>
<br>
<% if current_user.admin == true %>
  Total # of users on this site: <%= @users.length %>
<% else %>
  waaaah
<% end %>
<% else %>
  <h3>You must log in to ask a question.</h3>
<% end %>

<% @questions.each do |question| %>
<ul>
  <li><%= link_to question.title, question_path(question) %> created on <%= question.created_at.strftime("%a %D at %I:%M:%S") %></li>
</ul>
<% end %>

<h3>Total questions in the last 24hrs: <%= @questions.length %></h3>
<%= link_to 'View All Questions', all_questions_path %>

<br>
<br>
<br>
