<h3><%= @question.title %></h3>
<br>
<%= @question.content %>
<br>
<br>
<%= link_to upvote_question_path(@question), method: :put do %>
  <button name="button" class='btn-xs btn-info'>Upvote</button>
  <span class='badge'><%= @question.get_upvotes.size %></span>
  </button>
<% end %>
<!-- <%= link_to downvote_question_path(@question), method: :put do %>
  <button name="button" class='btn btn-info'>Downvote</button>
  <span class='badge'><%= @question.get_downvotes.size %></span>
  </button>
<% end %> -->

<%= link_to 'Edit Question', edit_question_path(@question) %>
<%= link_to 'Delete Question', question_path(@question), data: {confirm: "Are You Sure?", method: "delete"} %>


<% if current_user != nil %>
<br>
<br>
  <h4><%= link_to 'Submit Answer', new_question_answer_path(@question) %></h4>

  <% @question.answers.each do |answer| %>
  <ul>
    <li><%= answer.body %> Answered by: <%= User.find(answer.user_id).username %><br>
    <%= link_to 'Edit Answer', edit_question_answer_path(@question, answer) %>
    <%= link_to 'Delete Answer', question_answer_path(@question, answer), data: {confirm: "Are You Sure?", method: "delete"} %></li>
  </ul>
  <% end %>
  <% else %>
  <h3>You must log in to see answers :(</h3>
<% end %>
