<%= @question.title %>
<br>
<%= @question.content %>

<%= link_to 'Edit Question', edit_question_path(@question) %>
<%= link_to 'Delete Question', question_path(@question), data: {confirm: "Are You Sure?", method: "delete"} %>

<%= link_to 'Submit Answer', new_question_answer_path(@question) %>


<% @question.answers.each do |answer| %>
<ul>
  <li><%= answer.body %>
  <%= link_to 'Edit Answer', edit_question_answer_path(@question, answer) %>
  <%= link_to 'Delete Answer', question_answer_path(@question, answer), data: {confirm: "Are You Sure?", method: "delete"} %></li>
</ul>
<% end %>
